* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

h1 {
	font-size: 300px;
	text-align: center;
	color: fuchsia;
}

#stoplight {
	display: inline-block;
	width: 300px;
	height: 600px;
	background: #990;
	padding: 25px;
}

.light {
	width: 150px;
	height: 150px;
	margin: 25px auto;
	border-radius: 50%;
	opacity: .45;
	display: block;
	border: none;
}

.light:focus {
	border: none;
	outline: none;
}

.light.active {
	opacity: 1;
}

.light.red {
	background: red;
}

.light.yellow {
	background: yellow;
}

.light.green {
	background: limegreen;
}

button.inactive {
	color: #222;
	opacity: .5;
}

#scroll {
	padding: 3rem;
	border: 3px solid black;
	display: inline-block;
	background: #EEDFA6;
	vertical-align: top;
	max-width: 300px;
	margin-left: 5rem;
	height: 600px;
	overflow: scroll;
}

p.red {
	color: red;
}

p.yellow {
	color: yellow;
}

p.green {
	color: limegreen;
}

.butts {
	text-align: center;
	margin: 1rem;

	button {
		margin: 2rem;
	}
}

.footer {
	position: fixed;
	text-align: center;
	width: 100%;
	left: 0;
	bottom: 2rem;
}
